fieldset {
    background-color: #eeeeee;
    width: 250px;
    margin:auto;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }

  h2{
      text-align: center;
  }

  button{
    text-align: center;
    left: 100px;
  }

  div{
      padding-left: 50px;
  }

  p{
      font-weight: bold;
  }